# === SECURITY ===
SECRET_KEY=944af7a84933a3572e801f641890b2021ec7703b1dce00966c8b996ed59eb7c
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

# === DATABASE ===
DATABASE_URL=sqlite:///./son1k.db
# DATABASE_URL=postgresql+psycopg2://user:password@localhost:5432/son1k

# === CORS ===
BACKEND_CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,http://localhost:3000,http://127.0.0.1:3000

# === APP SETTINGS ===
APP_NAME=Son1kVers3 API
APP_DEBUG=true
